@model ProductDetailsViewModel

@{
	ViewData["Title"] = "Chi tiết sản phẩm";
}

<div class="ProductDetail">
	<section class="Section_1 row">
		<div class="Contain_img col-lg-7 col-md-12 col-sm-12 col-xs-12 mb-4 row">
			<div class="ImgItems col-lg-2 col-md-2 col-sm-2 col-xs-2 mb-2">
				@foreach (var img in Model.Product?.Images)
				{
					<img src="@img.ImageUrl" />
				}
			</div>

			<div class="ImgDisplay col-lg-10 col-md-10 col-sm-12 col-xs-12">
				<img src="@(Model.Product?.Images.FirstOrDefault()?.ImageUrl ?? "default.jpg")" alt="Alternate Text" id="displayedImage" />
				<div class="PrevNext">
					<button><i class="fa-solid fa-angle-left"></i></button>
					<button><i class="fa-solid fa-angle-right"></i></button>
				</div>
			</div>
		</div>

		<div class="Content  col-lg-5 col-md-12 col-sm-12 col-xs-12 mb-4">
			<div class="Title">
				<h2>@Model.Product?.Name</h2>
				<h3>@Model.Product?.ProductCategory?.CategoryName</h3>
				<span>@Model.Product?.Price.ToString("#,##0 VNĐ")</span>
			</div>

			<div class="TypeOption">
				<img src="/images/ProductDetail/type1.jpg" alt="Alternate Text" />
				<img src="/images/ProductDetail/type2.jpg" alt="Alternate Text" />
				<img src="/images/ProductDetail/type3.jpg" alt="Alternate Text" />
				<img src="/images/ProductDetail/type4.jpg" alt="Alternate Text" />
				<img src="/images/ProductDetail/type5.jpg" alt="Alternate Text" />
			</div>

			<div class="SizeOption">
				<div class="SizeTitle">
					<h3>Chọn Size</h3>
					<span><i class="fa-brands fa-readme"></i> Hướng dẫn chọn Size</span>
				</div>
				<ul>
					<vc:product-size></vc:product-size>
				</ul>
			</div>

			<div class="btn">
				@if (User.Identity.IsAuthenticated)
				{
					<button class="button" data-product_id="@Model.Product?.ProductID">Thêm vào giỏ hàng</button>
					<a class="button">Yêu thích <i class="fa-regular fa-heart"></i></a>
				}
				else
				{
					<a class="button add-to-cart" asp-action="LogIn" asp-controller="Account">Vui lòng đăng nhập</a>
				}
			</div>
		</div>
	</section>

	<section class="Section_2">
		<div class="Container">
			<div class="TitleDescription" onclick="toggleDescription(this)">
				<h3>Mô tả sản phẩm</h3>
				<i class="UpDes fa-solid fa-angle-down"></i>
				<i class="DownDes fa-solid fa-angle-up"></i>
			</div>

			<div class="Content">
				<p>@Html.Raw(Model.Product?.Description)</p>
			</div>
		</div>
	</section>

	<section class="Section_3">
		<div class="Container">
			<div class="RateStatistic" onclick="toggleRate(this)">
				<span>Đánh giá 4.9/5.0 (320)<i class="fa-solid fa-star"></i></span>
				<i class="UpRate fa-solid fa-angle-down"></i>
				<i class="DownRate fa-solid fa-angle-up"></i>
			</div>

			<div class="RateContent">
				<vc:product-review></vc:product-review>
				<form autocomplete="off" asp-action="Comment" asp-controller="Product">
					<input type="hidden" asp-for="@Model.Product.ProductID" name="ProductID" />
					<input name="Rating" class="form-control" asp-for="@Model.Rating"/>
					<span asp-validation-for="@Model.Rating" class="text-danger"></span>
					<div class="form-group">
						<label for="@Model.Review">Đánh giá</label>
						<textarea class="form-control" asp-for="@Model.Review" id="Review" name="Review" rows="3"></textarea>
						<span asp-validation-for="@Model.Review" class="text-danger"></span>
					</div>

					<button type="submit">Gửi</button>
				</form>
			</div>
		</div>
	</section>

	<section class="Section_4">
		<div class="ProductList col-lg-9 col-md-12 col-sm-12 col-xs-12 mb-4 row">
			@foreach (var product in ViewBag.RelatedProduct as IEnumerable<Product>)
			{
				<a asp-action="Details" asp-controller="Product" asp-route-Id="@product.ProductID" class="Components  col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-4">
					<div class="Contain_img">
						<img src="@(product.Images.FirstOrDefault()?.ImageUrl ?? "default.jpg")" alt="@product.Name" />
					</div>
					<div class="Content">
						<h1>@product.Name</h1>
						<h2>@product.ProductCategory?.CategoryName</h2>
						<h1>@product.Price.ToString("#,##0 VNĐ")</h1>
					</div>
				</a>
			}
		</div>
	</section>
</div>


@section Scripts {
	<script>
		$(document).ready(function (){
			$('.button[data-product_id]').click(function (event){
				event.preventDefault();

				var Id = $(this).data("product_id");

				$.ajax({
					type: "POST",
					url: "@Url.Action("Add", "Cart")",
					data: { Id: Id },
					success: function(result) {
						if(result) {
							Swal.fire({
								icon: 'success',
								title: 'Sản phẩm đã được thêm vào giỏ hàng!',
								showConfirmButton: false,
								timer: 1500,
								customClass: {
									title: 'swal-title-small',
									popup: 'swal-popup-small'
								}
							});
						} else {
							Swal.fire({
								icon: 'error',
								title: 'Thêm sản phẩm thất bại!',
								text: 'Vui lòng thử lại sau.',
								customClass: {
									title: 'swal-title-small',
									popup: 'swal-popup-small'
								}
							});
						}
					},
					error: function(xhr, status, error) {
						console.error("AJAX Error:", error);
						Swal.fire({
							icon: 'error',
							title: 'Lỗi hệ thống!',
							text: 'Vui lòng thử lại sau.',
							customClass: {
								title: 'swal-title-small',
								popup: 'swal-popup-small'
							}
						});
					}
				});
			});
		});
	</script>

}