@model IEnumerable<NikeStore.Models.Product>

@{
	ViewData["Title"] = "Yêu thích của bạn";
}

<div class="WishListPage">
	<div class="Container">
        <section class="Section_1">
            <img src="/images/Banner/WishListBanner.png" alt="Alternate Text" />

            <div class="Content">
                <h2>Danh sách yêu thích của bạn</h2>
            </div>
        </section>

		<section class="Section_2">
            <div class="Contain">
                @foreach (var product in Model)
                {
                    <a asp-action="Details" asp-controller="Product" asp-route-Id="@product.ProductID" class="Components col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-4">
                        <div class="Contain_img">
                            <img src="@(product.Images?.FirstOrDefault().ImageUrl ?? "default.jpg")" alt="@product.Name" />
                        </div>
                        <div class="Content">
                            <h1>@product.Name</h1>
                            <h2>@product.ProductCategory?.CategoryName</h2>
                            <h1>@product.Price</h1>
                        </div>
                    </a>
                }
            </div>
		</section>
	</div>
</div>
