@{
	ViewData["Title"] = "Danh sách sản phẩm";
	int productCount = 0;
	foreach (var product in Model) { productCount++; }
}

<div class="ProductListPage">
	<section class="Section_1">
		<div class="Title">
			@foreach(var product in Model) {
				<h3>Shoes / @product.ProductCategory?.CategoryName</h3>
				<h2> @product.ProductCategory?.CategoryName (@productCount)</h2>
			}
		</div>

		<div class="Filter">
			<ul>
				<li>
					<span class="Show" onclick="showFilter()">Show Filters</span>
					<span class="Hide" onclick="hideFilter()">Hide Filters</span>
					<i class="fa-solid fa-sliders"></i>
				</li>

				<li onclick="toggleOption()">
					<span>Sort By</span>
					<i class="UpSort fa-solid fa-angle-up"></i>
					<i class="DownSort fa-solid fa-angle-down"></i>
				</li>
			</ul>
		</div>

		<div class="dropdown">
			<ul>
				<li>Phổ biến</li>
				<li>Mới ra mắt</li>
				<li>Giá: thấp - cao</li>
				<li>Giá: cao - thấp</li>
			</ul>
		</div>
	</section>

	<section class="Section_2 row">
		<div class="Category col-lg-2">
			<div class="FilterItems">
				<div class="Title" onclick="toggleFilter(this)">
					<h3>Giới Tính</h3>
					<i class="DownFilter fa-solid fa-angle-down"></i>
					<i class="UpFilter fa-solid fa-angle-up"></i>
				</div>
				<div class="Option">
					<vc:product-gender></vc:product-gender>
				</div>

			</div>

			<div class="FilterItems">
				<div class="Title" onclick="toggleFilter(this)">
					<h3>Giá</h3>
					<i class="DownFilter fa-solid fa-angle-down"></i>
					<i class="UpFilter fa-solid fa-angle-up"></i>
				</div>
				<div class="Option">
					<input type="radio" id="option4" name="price" value="Dưới 1.500.000">
					<label for="option4">Dưới 1.5tr</label><br>

					<input type="radio" id="option5" name="price" value="1.5tr - 3.0tr">
					<label for="option5">1.5tr - 3.0tr</label><br>

					<input type="radio" id="option6" name="price" value="3.0tr - 5.0tr">
					<label for="option6">3.0tr - 5.0tr</label><br>

					<input type="radio" id="option7" name="price" value="Trên 5.0tr">
					<label for="option7">Trên 5.0tr</label><br>
				</div>
			</div>

			<div class="FilterItems">
				<div class="Title" onclick="toggleFilter(this)">
					<h3>Ưu Đãi & Khuyến Mãi</h3>
					<i class="DownFilter fa-solid fa-angle-down"></i>
					<i class="UpFilter fa-solid fa-angle-up"></i>
				</div>
				<div class="Option">
					<input type="radio" id="option8" name="promotion" value="Giảm giá">
					<label for="option8">Giảm giá</label><br>
				</div>
			</div>

			<div class="FilterItems">
				<div class="Title" onclick="toggleFilterColour(this)">
					<h3>Màu Sắc</h3>
					<i class="DownFilter fa-solid fa-angle-down"></i>
					<i class="UpFilter fa-solid fa-angle-up"></i>
				</div>
				<div class="OptionColour">
					<vc:product-color></vc:product-color>
				</div>
			</div>

			<div class="FilterItems">
				<div class="Title" onclick="toggleFilter(this)">
					<h3>Chiều Cao Giày</h3>
					<i class="DownFilter fa-solid fa-angle-down"></i>
					<i class="UpFilter fa-solid fa-angle-up"></i>
				</div>
				<div class="Option">
					<vc:product-type></vc:product-type>
				</div>
			</div>

			<div class="FilterItems">
				<div class="Title" onclick="toggleFilter(this)">
					<h3>Bộ Sưu Tập</h3>
					<i class="DownFilter fa-solid fa-angle-down"></i>
					<i class="UpFilter fa-solid fa-angle-up"></i>
				</div>
				<div class="Option">
					<vc:product-category></vc:product-category>
				</div>
			</div>
		</div>

		<div class="ProductList col-lg-10">
			@foreach (var product in Model)
			{
				<a asp-action="Details" asp-controller="Product" asp-route-Id="@product.ProductID" class="Components">
					<div class="Contain_img">
						<img src="/media/products/@product.ImageUrl" alt="@product.Name" />
					</div>
					<div class="Content">
						<h1>@product.Name</h1>
						<h2>@product.ProductCategory?.CategoryName</h2>
						<h1>@product.Price</h1>
					</div>
				</a>
			}
		</div>
	</section>
</div>