@model ServiceType

@{
	ViewData["Title"] = @Model.Name;
}

<div class='AuthAccessories ServiceItems'>
    <div class='Title'>
        <h2>@Model.Name</h2>
        <p>@Model.CreatedAt</p>
    </div>

    <div class='Content'>
        @Html.Raw(@Model.Description)
    </div>

    <a href='/' class="button">ĐẶT HÀNG NGAY</a>
</div>
